@import 'imports';

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
	color: var(--text-color);
}

h1 {
	font-size: 48px;
	transform: translateY(-100%);
	text-align: center;
}
