@import 'imports';

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    color: $text-color;
}

h1 {
    font-size: 48px;
    text-align: center;
    transform: translateY(-100%);
}
