include ../includes/mixins

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		link(rel="icon" href="/favicon.ico")
		link(rel="icon" href="/icon.svg" type="image/svg+xml")
		link(rel="mask-icon" href="/mask-icon.svg" color="#000000")
		link(rel="apple-touch-icon" href="/apple-touch-icon.png")

		block head

	body
		block body
